__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
htabench/data/h100_trace.parquet
htabench/logs
orca-scripts/tau-analysis/dfanalyzer
orca-scripts/tau-analysis/outputs/**
outputs/**
local
CLAUDE.md
ext/sc26ad/build
ext/carp-sc24ad/_minted
ext/carp-sc24ad/build
ext/sc26ad/_minted
